*{
    margin: 0;
    box-sizing: border-box;
}

.Backg_page{
    width: 100%;
    height: 220px;
    padding: 20px 45px;

    background-image: url(./Footer_icons/Footer_background.png);
    background-color: #03067B;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: initial;
    bottom: 0px;
}

.Logos_partner{
    
    bottom: 2px;
    width: 355px;
}

.Text_footer{
    color: #FFFFFF;
    word-wrap: break-word;
    column-gap: 25px;
    font-family: 'Poppins';
}

.Text_Thead{
    font-weight: 500;
    font-size: 30px;
    line-height: 67.5px;
    word-wrap: break-word;
}

.Text_Tbody{
    width: 820px;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;

    word-wrap: break-word;
}